<% title "User Panel" %>

<article class="single">

 <div class="link">
	<% if can? :read , Place %>
		<%= link_to 'Wszystkie miejsca', places_path, class: "btn primary" %>
	<% end %>
	<% if can? :myPlaces, Place %>
		<%= link_to 'Twoje miejsca', myplaces_path , class: "btn primary" %>
	<% end %>
 </div>

</article>
