div.show{
	width:90%;
	border: 2px solid #696969;
	padding: 5px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	overflow-y: auto;
	overflow-x: hidden;
}
div.show_content{
	margin-left:10px;
	margin-top:40px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 520px;
}

span.full_descripton{
	white-space: pre-wrap;
}
div.availability{
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 6px;
	margin:0px;
	margin-bottom:0em;
	font-size:16px;
	float:left;
}
div.grade_stars{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	margin:0px;
	margin-bottom:0em;
	font-size:30px;
	
}
div.show_header{
	background-color:#f85c32;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0px;
	margin:0px;
	position:absolute;
	width:891px;
	z-index:0;
	height:30px;
}

div.place_adress{
	text-align:center;
	width:350px;
	height:200px;
	float:right;
}
div.place_price{
	text-transform:uppercase;
	padding-top:30px;
	height:170px;
	width:566px;
	margin-bottom:30px;
}
span.deposit{
	font-size:12px;
}

div.paginator{
	width:400px;
	height:30px;
	display: block;
	background-color:white;
	float:left;
	margin-left:100px;
	
}
nav.pagination {
  display: block;
  margin: 0em 0;
}
nav.pagination a, nav.pagination .page.current {
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
  
}
nav.pagination .page.current  {
  color: red;
  margin-top:7px;
}
.pagination a {
	float:none;
}


