div.show{
	width:90%;
	border: 2px solid #696969;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	overflow-y: auto;
	overflow-x: hidden;
}
div.show_content{
	margin-left:3px;
	margin-top:20px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 600px;
}

span.full_descripton{
	white-space: pre-wrap;
}
div.availability{
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 2px;
	margin:0px;
	margin-bottom:0em;
	font-size:12px;
	float:left;
}
div.grade_stars{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	margin:0px;
	margin-bottom:0em;
	font-size:10px;
	
}
div.show_header{
	background-color:red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0px;
	margin:0px;
	position:absolute;
	width:891px;
	z-index:0;
	height:20px;
}

div.place_adress{
	width:300px;
	height:200px;
	float:right;
}
div.place_price{
	padding-top:30px;
	height:170px;
	width:566px;
	margin-bottom:30px;
}
span.deposit{
	font-size:8px;
}
