<% title "All places" %>


<article class="index">

<div id="fortunes">
	<%= render :partial => 'place', :collection => @places %>
</div>

</article>

<% if can? :create, Place %>
<div class="link">
  <%= link_to 'New Place', new_place_path, class: "btn primary" %>
</div>
<% end %>
